<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241249523121-b2v3d60ik7tponppu4ts3eeh4kau7ts0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241249523121-b2v3d60ik7tponppu4ts3eeh4kau7ts0</string>
	<key>API_KEY</key>
	<string>AIzaSyDUQkU3JOoV0sYJHwk4jW6sfdGu0lsNFv8</string>
	<key>GCM_SENDER_ID</key>
	<string>241249523121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>one.app.diinq</string>
	<key>PROJECT_ID</key>
	<string>doooooorbell</string>
	<key>STORAGE_BUCKET</key>
	<string>doooooorbell.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241249523121:ios:184aa9a6f4a1db4f629990</string>
	<key>DATABASE_URL</key>
	<string>https://doooooorbell.firebaseio.com</string>
</dict>
</plist>